body {
    font-family: 'Montserrat', sans-serif !important;
}

.nav-item .nav-link.active {
    font-weight: 500;
}

.action-button:hover {
    background-color: rgb(108, 117, 125) !important;
    border-color: rgb(108, 117, 125) !important;
    border-radius: var(--bs-border-radius-pill)!important;
    color: #ffffff !important;
} 

[data-bs-theme="light"] {
    
    .btn-primary {
        --bs-btn-color: var(--bs-body-bg);
        --bs-btn-bg: #4385BE !important;
        --bs-btn-border-color: #4385BE !important;   

        --bs-btn-hover-bg: #205ea6 !important;
        --bs-btn-hover-border-color: #205ea6 !important;
        --bs-btn-active-bg: #205ea6 !important;
    }

    .btn-primary:hover {
        --bs-btn-bg: #205ea6  !important;
        --bs-btn-border-color: #205ea6  !important;
    }
}

[data-bs-theme="flexoki"] {
    --bs-body-color: #100F0F;
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: #FFFCF0;
    --bs-body-bg-rgb: #{to-rgb($blue)};
    --bs-tertiary-bg: #{$blue-600};
    
    .bg-secondary {
        background-color: #F2F0E5 !important;
    }

    .btn-primary {
        --bs-btn-color: var(--bs-body-bg);
        --bs-btn-bg: #4385BE;
        --bs-btn-border-color: #4385BE;   
    }

    .nav-pills .nav-link.active, .nav-pills .show>.nav-link  {
        --bs-active-color: #4385BE !important;
        /* --bs-active-bg: #FFFCF0; */
        color: #FFFCF0;
        /* background-color: #4385BE; */
    }

    .nav-link {
        color: #100F0F;
    }
}
